<form [formGroup]="forgetPasswordForm">
    <h2 class="mt-4 font-bold text-4xl">Forget your password?</h2>
    <input type="email" formControlName="email" pInputText variant="filled" placeholder="Enter Email"
        class="block mt-4 md:w-9 w-full" />
    <a class="mt-2 block text-main text-right md:w-9 w-full cursor-pointer" routerLink="/auth/forgetPassword">Recover
        Password ?</a>

    <app-button [classes]="'w-50 mt-4 md:w-9 w-full bg-main border-round-xl'" [text]="'Sign in'"
        (click)="forgetPassword()"></app-button>

</form>