<form [formGroup]="resetPasswordForm">
    <h2 class="mt-4 font-bold text-4xl">Set a Password</h2>
    <p-password formControlName="newPassword" [toggleMask]="true" placeholder="Create Password" variant="filled"
        styleClass="mt-4 md:w-9 w-full" inputStyleClass="w-full" />
    <p-password [toggleMask]="true" placeholder="Re-enter Password" variant="filled" styleClass="mt-4 md:w-9 w-full"
        inputStyleClass="w-full" />
    <app-button [classes]="'w-50 mt-4 md:w-9 w-full bg-main border-round-xl'" [text]="'Sign in'"
        (click)="resetPassword()"></app-button>

</form>