<p-sidebar [modal]="false" [showCloseIcon]="false" [visible]="true" [classList]="'shadow-none'" [styleClass]="'transparent'">
    <img src="assets\Logo.png" alt="" class="block w-13rem mb-7">
    <ul class="list-none p-0 m-0 overflow-hidden flex row-gap-4 flex-column">
        <li class="cursor-pointer">
            <a class="inline-block p-2 border-round-md text-lg font-semibold">
                <i class="fa-solid fa-table-cells-large mr-3"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="cursor-pointer">
            <a class="inline-block p-2 border-round-md text-lg font-semibold">
                <i class="fa-solid fa-clock-rotate-left mr-3"></i>
                <span>Quiz History</span>
            </a>
        </li>
        <li class="cursor-pointer">
            <a class="inline-block p-2 border-round-md text-lg font-semibold">
                <span class="boxIcon mr-3 text-white pr-2 border-round-xs"><i class="fa-solid fa-arrow-left"></i></span>
                <span>Log Out</span>
            </a>
        </li>
    </ul>
</p-sidebar>