.quiz-viewport {
    min-height: 70vh;
    overflow: auto;
  }
  ::ng-deep .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  
    @media (min-width: 768px) {
      justify-content: start;
      gap: 0;
    }
  }
  