<div class="main p-3 border-round-xl bg-white flex gap-5 flex-wrap flex-column lg:flex-row">
    <div class="flex justify-content-center align-items-center">
        <p-image src="assets\photo.png" alt="Image" [preview]="true" />
    </div>

    <div class="flex-grow-1 xl:pr-8 overflow-hidden">
        <h2 class="overflow-hidden text-main my-0">Ahmed Mohamed</h2>
        <p class="mt-0 text-500">Voluptatem aut</p>
        <div class="card mb-5">
            <p-progressBar [value]="50" [showValue]="false" [color]="'var(--main-color)'"
                [styleClass]="'w-full h-1rem'" />
        </div>
        <div class="details flex justify-content-between align-items-center text-center lg:text-left">
            <div class="flex gap-2 flex-column lg:flex-row">
                <div class="icon shadow-2 p-2 border-round-md flex justify-content-center align-items-center m-auto"><i
                        class="fa-solid fa-flag text-main fa-2xl"></i></div>
                <div class="text-black-alpha-60">
                    <h3 class="my-0 text-3xl font-bold">27</h3>
                    <span>Quiz Passed</span>
                </div>
            </div>
            <div class="flex gap-2 flex-column lg:flex-row">
                <div class="icon shadow-2 p-2 border-round-md flex justify-content-center align-items-center m-auto"><i
                        class="fa-solid fa-clock text-main fa-2xl"></i>
                </div>
                <div class="text-black-alpha-60">
                    <h3 class="my-0 text-3xl font-bold">13 min</h3>
                    <span>Fastest Time</span>
                </div>
            </div>
            <div class="flex gap-2 flex-column lg:flex-row">
                <div class="icon shadow-2 p-2 border-round-md flex justify-content-center align-items-center m-auto"><i
                        class="fa-solid fa-circle-check text-main fa-2xl"></i>
                </div>
                <div class="text-black-alpha-60">
                    <h3 class="my-0 text-3xl font-bold">200</h3>
                    <span>Correct Answers</span>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="p-3 bg-white mt-5 border-round-xl">
    <h4 class="text-main">Quizes</h4>
</div>