<form [formGroup]="registerForm" (ngSubmit)="register()">
    <input type="text" formControlName="username" placeholder="Enter Username">
    <br>
    <input type="text" formControlName="firstName" placeholder="Enter firstName">
    <br>
    <input type="text" formControlName="lastName" placeholder="Enter lastName">
    <br>
    <input type="email" formControlName="email" placeholder="Enter email">
    <br>
    <input type="password" formControlName="password" placeholder="Enter password">
    <br>
    <input type="password" formControlName="rePassword" placeholder="Enter rePassword">
    <br>
    <input type="tel" formControlName="phone" placeholder="Enter phone">
    <br>
    <button>Submit</button>
</form>