:root {
  --main-color: #4461f2;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}

.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color);
}
.transparent {
  background-color: transparent;
}
